<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Johann Valenzuela</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Angular.js 1.5.8 -->
    <script src="js/shared/angular.min.js"></script>

    <!-- Materialize.css -->
    <link rel="stylesheet" href="css/materialize.css">

    <!-- Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery.js 2.2.4 -->
    <script type="text/javascript" src="js/shared/jquery-2.2.4.min.js"></script>

    <!-- Typed.js -->
    <script src="js/shared/typed.js"></script>

    <!-- Typed.js letters -->
    <script>
      $(function(){
          $("#element").typed({
            strings: ["Developer"],
            typeSpeed: 100,
            startDelay: 200
          });
      });
    </script>

    <script src="https://use.fontawesome.com/a3c3727f14.js"></script>
  </head>

  <body ng-app="myApp">
    <!-- Google Analytics -->
    <script src="js/shared/google-analytics.js"></script>

    <div class="navbar-fixed">
      <nav class="light-blue" style="box-shadow: inherit">
        <div class="nav-wrapper">
          <!-- Logo en movimiento, usando 100% CSS -->
          <a href="#home" class="brand-logo center">
            JValenzuela
          </a>
          <!-- Menú para escritorio y tablet -->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#me">Yo</a></li>
            <li><a href="#education">Educacion</a></li>
            <li><a href="#develop">Desarrollos</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <!-- Menú para pantalla mobile -->
          <ul class="side-nav" id="mobile-demo">
            <li class="row light-blue" style="background:url('img/back3.jpg');background-size:cover; background-blend-mode:multiply; padding: 15% 0 15% 0;">
              <div class="col s4">
                <img class="responsive-img circle" style="" src="img/perfil.jpg">
              </div>
              <div class="col s8">
                <h5>Johann Valenzuela</h5>
                <h6>Desarrollador Web</h6>
              </div>
            </li>
            <li><a href="#home">Inicio</a></li>
            <li><a href="#me">Yo</a></li>
            <li><a href="#education">Educacion</a></li>
            <li><a href="#develop">Desarrollos</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="home" class="section scrollspy light-blue center" style="background:url('img/png/mp-02.png') repeat; background-blend-mode:multiply;">
      <div class="container">
          <h2 class="white-text" style="font-weight: 20; padding:20% 0 20% 0;">
            Johann Valenzuela<br>Web <span id="element"></span>
          </h2>
      </div>
    </div>

    <div class="section container">
      <div class="right">
        <a href="#me" class="btn-floating btn-large waves-effect waves-light light-blue" style="margin-top:-40px"><i class="material-icons">expand_more</i></a>
      </div>
    </div>

    <div id="me" class="section scrollspy" >
      <div class="container">
        <div class="row" style="padding: 20% 0 20% 0">

          <div class="col s6 m2 l2">
                <img class="responsive-img circle" style="padding: .5em .5em" src="img/perfil.jpg">
          </div>
          <div class="col s6 m10 l4">
            <h3 class="light-blue-text">Historia</h3>
            <p class="grey-text flow-text">
              Hola, soy un Front-End Web Developer de Valparaíso, Chile. En constante crecimiento,
              las tecnologías avanzan y no hay que quedar obsoleto. Pendiente a la llegada de proyectos
              que me permitan demostrar lo que sé y lo que me gusta hacer.

            </p>
          </div>

          <div class="col s12 m12 l6 history" style="opacity:0;">
            <h3 class="light-blue-text">Información personal</h3>
            <ul class="collection">
              <li class="collection-item">
                <span class="title">Nombre</span>
                <span class="grey-text right">Johann Valenzuela Torres</span>
              </li>
              <li class="collection-item">
                <span class="title">Teléfono</span>
                <span class="grey-text right">+56 9 6909 9836</span>
              </li>
              <li class="collection-item">
                <span class="title">Correo</span>
                <span class="grey-text right">contacto@johannvalenzuela.me</span>
              </li>
              <li class="collection-item">
                <span class="title ">Residencia</span>
                <span class="grey-text right">Valparaíso, Chile</span>
              </li>
            </ul>
          </div>

          <div class="col s12 m12 l12 center history" style="opacity:0;">
            <a class="btn-floating waves-effect light-blue" target="_blank" href="https://github.com/jaevt"><i class="fa fa-github"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="https://electronlabs.slack.com/team/johann.valenzuela"><i class="fa fa-slack"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="https://github.com/jaevt"><i class="fa fa-linkedin"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="https://twitter.com/jaevt"><i class="fa fa-twitter"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="http://stackoverflow.com/users/6393734/johann-valenzuela"><i class="fa fa-stack-overflow"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="https://bitbucket.org/jaevt"><i class="fa fa-bitbucket"></i></a>
            <a class="btn-floating waves-effect light-blue" target="_blank" href="http://steamcommunity.com/id/s5monolixo"><i class="fa fa-steam"></i></a>

          </div>

        </div>
      </div>
    </div>

    <div id="education" class="section scrollspy light-blue" style="padding: 5% 0 5% 0">
      <div class=" container row" ng-controller="EducationController">
        <div class="col s12 m12 l12 white-text">
          <h2>Educación</h2>
        </div>
        <ul id="education-cards">
          <li  ng-repeat="x in studies" class="col s12 m4 l4 light-blue-text"  style="opacity: 0;">
            <div my-study></div>
          </li>
        </ul>
      </div>
    </div>

    <div id="develop" class="section scrollspy container">
      <div class="row">
        <h2 class="light-blue-text">Desarrollos</h2>
        <div ng-repeat="repo in github" class="col s12 m4 l3 light-blue-text">
          <div github-repo></div>
        </div>
      </div>
      <div class="row" ng-controller="GithubController">
        <div class="col s12">
          <h3 class="light-blue-text">Github Repos</h3>
          <p class="gray-text flow-text">Ejemplo de uso de la api.github.v3 y AngularJS.
          </p>
        </div>
        <ul id="github-cards">
          <li ng-repeat="repo in github" class="col s12 m4 l3 light-blue-text" style="opacity:0;">
            <div github-repo></div>
          </li>
        </ul>
      </div>
    </div>

    <div id="contact" class="section scrollspy light-blue">
      <div class="container row">
        <div class="col s12 m6 l6">
          <img src="img/full-stack.png" class="responsive-img">
        </div>
        <div class="col s12 m8 l6 offset-m2">
          <div class="card large">
              <a class="twitter-timeline" data-height="100%" href="https://twitter.com/JAEVT">Tweets by JAEVT</a>
          </div>
        </div>
      </div>
    </div>

    <div id="certificates" class="section scrollspy grey lighten-2">
      <div class="row">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="https://udemy-certificate.s3.amazonaws.com/image/UC-Z59SAEM6.jpg">Typescript</a>
          <a class="carousel-item" href="#two!"><img src="img/back3.jpg">DOOOOOOOOS</a>
          <a class="carousel-item" href="#three!"><img src="img/back3.jpg">TREEEEEEEES</a>
          <a class="carousel-item" href="#four!"><img src="img/back3.jpg"></a>
          <a class="carousel-item" href="#five!"><img src="img/back3.jpg"></a>
        </div>
      </div>
    </div>
    <div id="contact" class="section scrollspy light-blue">
      <div class="container row ">
        <div class="col s12 m8 l6 offset-l3 offset-m2" contact></div>
      </div>
    </div>


    <div class="section light-blue darken-2">
      <div class="center">
        <!-- Modal Trigger -->
          <p class="flow-text white-text">¿Quieres detalles de cómo esta construida esta página?</p>
          <a class="waves-effect waves-light btn modal-trigger white light-blue-text" href="#modal1">Averigualo  Aquí</a>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet" modal-structure>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/education.ctrl.js"></script>
    <script src="js/controllers/github.ctrl.js"></script>
    <script src="js/controllers/testimonial.ctrl.js"></script>
    <!-- Directives -->
    <script src="js/directives/contact.js"></script>
    <script src="js/directives/modal-structure.js"></script>
    <script src="js/directives/twitter-timeline.js"></script>

    <!-- Twitter User Timeline -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Materialize.min.js -->
    <script src="js/shared/materialize.js"></script>
    <!-- Eventos Materialize -->
    <script>
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
      $('.scrollspy').scrollSpy();
      $('ul.tabs').tabs();
      $('.carousel').carousel({

        indicators:true
      });
      $('.modal-trigger').leanModal();
      Materialize.scrollFire([
        {
          selector: '#education-cards', offset: 300, callback: function() {
            Materialize.showStaggeredList('#education-cards');
          }
        },
        {
          selector: '#github-cards', offset: 400, callback: function() {
            Materialize.showStaggeredListVertical('#github-cards');
          }
        },
        {
          selector: '.history', offset: 300, callback: function() {
            Materialize.fadeInImage('.history');
          }
        }
      ]);
    });
    </script>
  </body>
</html>
