<div class="modal-content">
  <ul class="collection">
     <li class="collection-item avatar">
       <i class="fa fa-server circle light-blue"></i>
       <span class="title">Ubuntu</span>
       <p>
         VPS on Digital Ocean
       </p>
       <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
     </li>
     <li class="collection-item avatar">
       <i class="material-icons circle green">http</i>
       <span class="title">Nginx</span>
       <p>
         HTTP Server
       </p>
       <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
     </li>
     <li class="collection-item avatar">
       <i class="material-icons circle red">web_asset</i>
       <span class="title">AngularJS</span>
       <p>
         Framework Javascript
       </p>
       <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
     </li>
     <li class="collection-item avatar">
       <i class="material-icons circle red">web</i>
       <span class="title">MaterializeCSS</span>
       <p>
         Framework CSS
       </p>
       <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
     </li>
   </ul>
</div>
